@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 10px; }

body {
    font-family: 'Poppins' , sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

a { text-decoration: none; }
ul { list-style: none; }

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-family: 'Poppins';
}

section {
    background-color: #fff;
    padding: 10rem 0;
    text-align: center;
}

.btn {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .3s;
}

.btn-outline {  
    color: #fff;
    background-color: transparent;
    border-color: #fff;    
    padding: 2.2rem 1.6rem;
}

.btn-outline:hover {
    color: #212529;
    background-color: #fff;

}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-uppercase { text-transform: uppercase; }

nav {
    width: 100%;
    background-color: #ffd900;
    padding: 2rem 0;
    position: fixed; /* boylece navbar sabitlendi */
    z-index: 61;  /* boylece navbar her elementin ustunde olmus oldu */
}

#logo-box { 
    float: left;
 }

nav #logo-box .logo {
    color: #000;
    font-size: 3.2rem;  
    font-weight: 700;  
}

nav #nav-links {
    float: right;
}

nav #nav-links .nav-item {
    float: left;
    margin: 0.5rem 4rem;
}

nav #nav-links .nav-item .nav-link {
    color: #fff;
    font-size: 2rem;
    display: block;
    letter-spacing: .1rem;
    font-weight: 500;
    transition: .4s;
}
nav #nav-links .nav-item .nav-link:hover {
    color: #000;
    text-decoration:overline;
    text-decoration-thickness: .4rem;
}

header {
    background-color: #1ABC9B;
    padding-top: calc(88px + 6.1rem);
    text-align: center;
    height: 700px;
}

header .img-fluid {
    max-width: 261px;
    height: auto;
    border-radius: 15%;
}

header h1 {
    color: #fff;
    font-size: 4rem;
}

header h2 {
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Lato';
    font-weight: 300;
}

hr.star-light {
    border-color: #fff;
}

hr.star-dark {
    border-color: #000;
}

hr.star-primary {
    border-color: #1ABC9B;
}

.star-light , .star-dark , .star-primary {
    border: none;
    border-top: 0.4rem solid;
    border-radius: 1rem;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}

.star-primary::after {
    color: #1ABC9B;
    background-color: #fff;
}

.star-light::after {
    color: #fff;
    background-color: #1ABC9B;
}

.star-dark::after {
    color: #000;
    background-color: #fff;
}

.star-light::after , .star-dark::after , .star-primary::after {
    content: "\2605";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -2.7rem;
    padding: 0 1rem;
}

    /* Portfolio */

#portfolio h2 {
    font-size: 5rem;
}

#portfolio-images .col {
    float: left;
    width: 33.333%;
    padding: 10px;
}

.portfolio-item {
    position: relative;
}

.portfolio-item img {
    display: block;
    border-radius: 2rem;
}

.portfolio-item .img-fluid-p {
    max-width: 100%;
    height: auto;    
}

.portfolio-item .img-overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1ABC9B;
    opacity: 0;
    transition: all .4s;
}

.portfolio-item .img-overlay .icon {
    color: #fff;
    font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.portfolio-item:hover .img-overlay {
    opacity: 0.9;
    border-radius: 2rem;
}

/* About */

#about {
    background-color: #1ABC9B;
    color: #fff;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

#about #about-text {
    margin: 5rem 0;
}

#about h2 {
    font-size: 5rem;
}

#about .text {
     text-align: center;
}

#about #about-text .left {
    float: left;
    width: 50%;
    padding-right: 2rem;
    padding-left: 20rem;
}
#about #about-text .right {
    float: right;
    width: 50%;
    padding-left: 2rem;
    padding-right: 20rem;
}

#about-text .text {
    font-size: 2rem;
}

#about-bottom {
    width: 100%;
    height: auto;    
}



#contact {    
    background-color: #fff;
    color: #1ABC9B;
}

#contact h2 {
    font-size: 5rem;
}

#contact-form {
    width: 70%;
    margin: 5rem auto;
    text-align: left;
}

#contact-form .form-group {
    border-bottom: .2rem solid #222222;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
}

.form-group input , .form-group textarea {
    border: none;
    width: 100%;
    display: block;
    font-size: 2.4rem;
}

input , textarea , label:focus {
    outline: 0;
}